@charset "UTF-8";


section #ex003{
    height: 500px;
}

.code{
    font-family: var(--font_code);
    padding: 20px;
    width: 93%;
    height: 250px;
    margin: auto;
    background-color: var(--code);
    box-shadow: rgb(26, 28, 29) 3px 3px 6px 0px inset, rgba(15, 12, 12, 0.5) -3px -3px 6px 1px inset;
}
